.desss{
  position: absolute;
left: 6.67%;
right: 62.99%;
top: 250px;
bottom: 83.81%;
}
.headdd{
  position: absolute;
  left: 6.67%;
  right: 62.99%;
  top: 40px;
  bottom: 83.81%;
  width: 40%;
}
.btnnn{
  position: absolute;
  left: 6.67%;
  right: 62.99%;
  top: 340px;
  bottom: 83.81%;
}